<nav class="cl-nav">
    <a href="/admin" class="cl-nav__link">My Projects</a>
    <a href="/admin/assets" class="cl-nav__link">My Assets</a>
    <a href="/admin/messages" class="cl-nav__link">Messages</a>
    <a href="/admin/tickets" class="cl-nav__link">Tickets</a>
    <a href="/account/logout" class="cl-nav__link cl-nav__link--logout">Logout</a>
</nav>
